.typed2 {
  font-weight: bold;
  font-size: 100px;
  color: whitesmoke;
  z-index: 1;
  position: absolute;
  top: 500px;
  left: 500px;
  text-shadow: rgba(0, 0, 0, 0.544) 10px 10px; }

.col hero {
  position: relative; }
